/* GoogleMap.css */

/* Устанавливаем шрифт для всего приложения */

  /* Стиль контейнера карты */
  .google-map-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру */
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  /* Заголовок карты */
  .map-heading {
    font-size: 24px;
    margin-bottom: 20px; /* Отступ от заголовка */
    color: #333; /* Цвет текста */
    font-weight: 600; /* Сделать текст жирным */
  }
  
  /* Стиль самой карты */
  .map-container {
    height: 350px; /* Высота карты */
    width: 50%; /* Ширина карты */
    max-width: 700px; /* Максимальная ширина карты */
    border: 1px solid #ccc; /* Граница вокруг карты */
  }
  